.container{
    padding-top: 7%;
    .row{
        .col-2{
            border: 1px solid;
            height: 100vh;
            .course{
                margin-top: 20px;
                background-color: black;
            }
            .user{

            }
        }
        .col-10{
            border: 1px solid;
            height: 100vh;
            padding: 10px 60px;
            }
            h3{
                padding: 20px 20px;
                background-color: #41b294;
                color: #fff;
            }
            .container{
                padding: 0;
                .row{
                    .left{
                        .maKhoaHoc{
                            p{

                            }
                            input{
                                background-color: #eee;
                            }
                        }
                        .tenKhoaHoc{
                            p{

                            }
                            input{
                                background-color: #eee;
                            }
                        }
                        .tenDanhMuc{
                            p{

                            }
                            select{
                                width: 70%;
                                height: 35px;
                                background-color: #eee;
                            }
                        }
                        .ngayTao{
                            p{

                            }
                            input{
                                background-color: #eee;
                            }
                        }
                    }
                    .right{
                        .danhGia{
                            p{

                            }
                            input{
                                background-color: #eee;
                            }
                        }
                        .luotXem{
                            p{

                            }
                            input{
                                background-color: #eee;
                            }
                        }
                        .nguoiTao{
                            p{

                            }
                            select{
                                width: 70%;
                                height: 35px;
                                background-color: #eee;
                            }
                        }
                        .hinhAnh{
                            p{

                            }
                            input{
                                background-color: #eee;
                            }
                        }
                    }
                    .btn-capNhat{
                        margin-left: 76%;
                        margin-top: 20px;
                    }
                    .btn-themLuu{
                        margin-left: 72%;
                        margin-top: 20px;
                    }
                }
            }
        }
    }
    