@import "./Base.scss";

.courseByCatalog {
  margin-top: 150px;
  .main {
    padding: 60px 0;
    max-width: 90vw;
    margin: 0 auto;
  }
  h2 {
    text-align: center;
    margin-bottom: 50px;
    font-size: 48px;
  }
  .row {
    width: 100%;
    @media screen and (max-width: 1199.9px) {
      justify-content: center;
    }
    .item {
      width: 70vw;
      margin-bottom: 100px;
      padding: 0 3vw;
      @media screen and (max-width: 350px) {
        width: 100vw;
      }
      @media screen and (min-width: 768px) {
        width: 40vw;
      }
      @media screen and (min-width: 1400px) {
        width: 22vw;
      }
      .card {
        position: relative;
        border-radius: 20px;
        height: 100%;
        @media screen and (min-width: 1400px) {
          width: 300px;
        }
        img {
          max-width: 100%;
          border-radius: 20px 20px 0 0;
          height: 200px;
          object-fit: cover;
        }
        .card-body {
          padding-top: 30px;
          height: 36vh;
          @media screen and (max-width: 499.9px) {
            padding: 5%;
          }
          h1 {
            font-size: 22px;
            font-weight: 600;
            @media screen and (max-width: 499.9px) {
              font-size: 20px;
            }
          }
          p {
            text-overflow: ellipsis;
            font-size: 16px;
            font-weight: 300;
            margin: 20px 0;
            line-height: 24px;
            @media screen and (max-width: 499.9px) {
              font-size: 16px;
              line-height: 18px;
            }
          }
          .row {
            justify-content: space-between;
            .calendar {
              width: 65%;
            }
            .eye {
              width: 35%;
            }
            span {
              width: 100%;
              margin-left: 5px;
              font-size: 14px;
              font-weight: 400;
            }
          }
          a {
            margin-top: 15px;
            color: #fff;
            background-color: #4fb291;
            padding: 10px 20px;
            display: inline-block;
            border-radius: 5px;
            transition: all 1s;
            &:hover {
              background-color: #243f56;
            }
          }
        }
      }
    }
  }
}

.inactive {
  pointer-events: none;
  opacity: 0.6;
}
