@import "./Base.scss";

.detail-page {
  margin-top: 100px;
  background-color: #243f56;
  h2.title {
    text-align: center;
    font-size: 40px;
    background-color: #243f56;
    padding: 40px 0;
    color: #fff;
  }
  .main {
    background-color: #fff;
    padding: 60px 0;
    .col-7 {
      @media screen and (max-width: 1200px) {
        width: 90vw;
        margin: 0 auto;
      }
      h2 {
        font-weight: 600;
        font-size: 40px;
        border-bottom: 3px solid #000;
        display: inline-block;
      }
      .intro {
        margin-top: 30px;
        h3 {
          font-size: 16px;
          font-weight: 400;
          margin-bottom: 40px;
          font-weight: 400;
          line-height: 20px;
          span {
            font-size: 30px;
            font-style: italic;
          }
        }
      }
      .target {
        h3 {
        }
        .row {
          .col-6{
            @media screen and (max-width:350px) {
              width: 100%;
            }
          }
          h4 {
            font-weight: 400;
            line-height: 30px;
            font-size: 16px;
            @media screen and (max-width:350px) {
              margin-bottom: 15px;
            }
            i {
              margin-right: 5px;
            }
          }
        }
      }
      .skill {
        margin-top: 20px;
        div {
          width: 70%;
          margin: 0 auto;
          img {
            width: 50px;
            height: 50px;
            object-fit: cover;
            border-radius: 50%;
            margin-right: 10px;
            border: 3px solid black;
            margin-bottom: 10px;
          }
        }
      }
    }
    .col-5 {
      width: 37vw;
      margin: auto;
      @media screen and (max-width: 1200px) {
        width: 70vw;
        margin-top: 40px;
      }
      @media screen and(max-width:500px) {
        width: 100vw;
      }
      .card {
        border-radius: 10px;
        box-shadow: 1px 1px 10px 4px gray;
        padding-bottom: 20px;
        @media screen and(max-width:500px) {
          width: 95vw;
        }
        img {
          height: 40vh;
          border-radius: 10px 10px 0 0;
        }
        .card-body {
          h2 {
            font-size: 26px;
            text-align: right;
            margin-bottom: 25px;
          }
          h3 {
            font-size: 16px;
            font-weight: 400;
            display: flex;
            margin-bottom: 20px;
            span {
              margin-left: auto;
            }
          }
          a {
            display: block;
            margin-left: auto;
            color: #fff;
            background-color: #4fb291;
            padding: 10px 20px;
            border-radius: 5px;
            transition: all 1s;
            border: 1px solid transparent;
            width: 160px;
            &:hover {
              background-color: #243f56;
            }
          }
          input {
            display: block;
            margin-top: 20px;
            width: 100%;
            padding: 8px;
            &::placeholder {
              font-size: 16px;
            }
          }
        }
      }
    }
  }
  .related-course {
    margin-top: 50px;
    .main {
      padding: 60px 0;
      max-width: 100vw;
      margin: 0 auto;
      background-color: #243f56;
      h2 {
        font-size: 48px;
        margin-bottom: 50px;
        color: #fff;
        text-align: center;
        @media screen and (max-width:500px) {
          font-size: 32px;
        }
      }
      .row {
        justify-content: center;
        width: 100%;
        @media screen and (max-width:500px) {
          margin: 0;
        }
        .item {
          width: 70vw;
          margin-bottom: 100px;
          padding: 0 3vw;
          @media screen and (max-width: 350px) {
            width: 100vw;
          }
          @media screen and (min-width: 768px) {
            width: 40vw;
          }
          @media screen and (min-width: 1400px) {
            width: 22vw;
          }
          .card {
            max-width: 100%;
            position: relative;
            border-radius: 20px;
            height: 100%;
            img {
              max-width: 100%;
              border-radius: 20px 20px 0 0;
              height: 32vh;
              object-fit: cover;
            }
            .card-body {
              padding-top: 30px;
              height: 250px;
              @media screen and (max-width: 499.9px) {
                padding: 5%;
              }
              h1 {
                font-size: 22px;
                font-weight: 600;
                @media screen and (max-width: 499.9px) {
                  font-size: 20px;
                }
              }
              p {
                text-overflow: ellipsis;
                font-size: 18px;
                font-weight: 300;
                margin: 20px 0;
                line-height: 24px;
                @media screen and (max-width: 499.9px) {
                  font-size: 16px;
                  line-height: 18px;
                }
              }
              .row {
                justify-content: space-between;
                .calendar {
                  width: 65%;
                }
                .eye {
                  width: 35%;
                }
                span {
                  width: 100%;
                  margin-left: 5px;
                  font-size: 14px;
                  font-weight: 400;
                }
              }
              a {
                margin-top: 15px;
                color: #fff;
                background-color: #4fb291;
                padding: 10px 20px;
                display: inline-block;
                border-radius: 5px;
                transition: all 1s;
                &:hover {
                  background-color: #243f56;
                }
              }
            }
          }
        }
      }
    }
  }
}

.success-checkmark {
  width: 80px;
  height: 115px;
  margin: 0 auto;

  .check-icon {
    width: 80px;
    height: 80px;
    position: relative;
    border-radius: 50%;
    box-sizing: content-box;
    border: 4px solid #4caf50;

    &::before {
      top: 3px;
      left: -2px;
      width: 30px;
      transform-origin: 100% 50%;
      border-radius: 100px 0 0 100px;
    }

    &::after {
      top: 0;
      left: 30px;
      width: 60px;
      transform-origin: 0 50%;
      border-radius: 0 100px 100px 0;
      animation: rotate-circle 4.25s ease-in;
    }

    &::before,
    &::after {
      content: "";
      height: 100px;
      position: absolute;
      background: #ffffff;
      transform: rotate(-45deg);
    }

    .icon-line {
      height: 5px;
      background-color: #4caf50;
      display: block;
      border-radius: 2px;
      position: absolute;
      z-index: 10;

      &.line-tip {
        top: 46px;
        left: 14px;
        width: 25px;
        transform: rotate(45deg);
        animation: icon-line-tip 0.75s;
      }

      &.line-long {
        top: 38px;
        right: 8px;
        width: 47px;
        transform: rotate(-45deg);
        animation: icon-line-long 0.75s;
      }
    }

    .icon-circle {
      top: -4px;
      left: -4px;
      z-index: 10;
      width: 80px;
      height: 80px;
      border-radius: 50%;
      position: absolute;
      box-sizing: content-box;
      border: 4px solid rgba(76, 175, 80, 0.5);
    }

    .icon-fix {
      top: 8px;
      width: 5px;
      left: 26px;
      z-index: 1;
      height: 85px;
      position: absolute;
      transform: rotate(-45deg);
      background-color: #ffffff;
    }
  }
}
.swal2-error {
  display: flex;
}

@keyframes rotate-circle {
  0% {
    transform: rotate(-45deg);
  }
  5% {
    transform: rotate(-45deg);
  }
  12% {
    transform: rotate(-405deg);
  }
  100% {
    transform: rotate(-405deg);
  }
}

@keyframes icon-line-tip {
  0% {
    width: 0;
    left: 1px;
    top: 19px;
  }
  54% {
    width: 0;
    left: 1px;
    top: 19px;
  }
  70% {
    width: 50px;
    left: -8px;
    top: 37px;
  }
  84% {
    width: 17px;
    left: 21px;
    top: 48px;
  }
  100% {
    width: 25px;
    left: 14px;
    top: 45px;
  }
}

@keyframes icon-line-long {
  0% {
    width: 0;
    right: 46px;
    top: 54px;
  }
  65% {
    width: 0;
    right: 46px;
    top: 54px;
  }
  84% {
    width: 55px;
    right: 0px;
    top: 35px;
  }
  100% {
    width: 47px;
    right: 8px;
    top: 38px;
  }
}
