.container{
    padding-top: 7%;
    .row{
        .col-2{
            border: 1px solid;
            height: 100vh;
            .course{
                margin-top: 20px; 
                background-color: #41b294;    
            }
            .user{
                background-color: black;
            }
        }
        .col-10{
            border: 1px solid;
            height: 100vh;
            padding: 10px 60px;
            .addCourse{
                margin: 20px 40px;
            }
            form{
                padding-left: 40px;
                input{
                    width: 70%;
                    height: 40px;
                    padding-left: 10px;
                }
                .search{

                }
            }
            .table{
                border: 1px solid;
                margin: 30px 0px;
                text-align: center;
                background-color: #eee;
                .title{
                    text-align: center;
                    font-weight: 700;
                    height: 30px;
                }
                .content{
                   .ghiDanh{
                        background-color: #41b294;
                        color: #fff;
                        border: none;
                   }
                   .sua{
                        background-color: #2550dd;
                   }
                   .xoa{
                        background-color: rgb(218, 30, 30);
                   }
                }
            }
        }
    }
    .modal{
        top: 60%;
        .modal-header{
            padding: 10px 16px;
        }
        .modal-body{
            p{
    
            }
            select{
                width: 88%;
                margin-left: 15px;
                height: 35px;
                padding-left: 5px;
            }
            .hr{
                height: 5px;
                margin: 15px;
            }
            .hocVienXacThuc{
                display: grid;
                grid-template-columns: 1fr 1fr;
                align-items: center;
                .col-left{
                    h6{
    
                    }
                }
                .col-right{
                    text-align: right;
                    margin-right: 20px;
                    input{
                        height: 35px;
                        width: 70%;
                        padding-left: 10px;
                    }
                }
            }
            .table{
                border: 1px solid;
                margin: 30px 0px;
                text-align: center;
                background-color: #eee;
                .title{
                    text-align: center;
                    font-weight: 700;
                    height: 30px;
                }
                .content{
                   .xacThuc{
                        background-color: #2550dd;
                   }
                   .huy{
                        background-color: rgb(218, 30, 30);
                   }
                }
            }
        }
    }
}